body {
    margin: 0;
    padding: 0;
    font-family: 'Georgia';
    background-color: #E91E63;
}

.containerForMainHeading {
    background-color: #AD1457;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 6px, rgba(0, 0, 0, 0.12) 0 1px 4px;
    border-radius: 2px;
}

.formHeading {
    font-size: 36px;
    color: white;
    text-align: center;
}

.containerForInputs {
    background-color: #F8BBD0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 6px, rgba(0, 0, 0, 0.12) 0 1px 4px;
    border-radius: 2px;
    margin: 10px;
}

.singleContainer {
    margin: 0;
}

.headings {
    text-align: center;
    font-family: 'Arial';
    font-size: 16px;
    color: #424242;
}

input {
    width: 70vw;
    margin: auto 0px 20px;
    padding: 5px 10px;
    border: none;
    border-bottom: solid 3px white;
    border-radius: 2px;
    transition: border 0.6s ease-out;
}

input:focus {
    border-bottom: solid 3px #AD1457;
}

.valid {
    background: white url("mocks/check-circle.png") no-repeat right;
    background-size: 20px;
}

.invalid {
    background: white url("mocks/exclamation-circle.png") no-repeat right;
    background-size: 20px;
}

#snackbar {
    visibility: hidden;
    min-width: 230px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 15px;
    font-size: 20px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

.tab {
    display: none;
}

.nextPrevButton, .calendarButton {
    display: inline-block;
    border-radius: 4px;
    background-color: #FAFAFA;
    border: none;
    color: #AD1457;
    font-weight: bold;
    text-align: center;
    font-size: 16px;
    padding: 10px 5px;
    width: 80px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.calendarYearHeading {
    color: #b3005c;
    font-size: 24px;;
    font-weight: bold;
}

.calendarMonthHeading {
    color: #ff0084;
    font-size: 16px;;
    font-weight: bold;
}

.calendarButton {
    width: 40px;
    height: 30px;
}

.nextPrevButton .spanForButtons {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

#prevYearCalendarButton {
    background: url("mocks/angle-double-left.png") no-repeat center;
    background-size: 30px;
}

#nextYearCalendarButton {
    background: url("mocks/angle-double-right.png") no-repeat center;
    background-size: 30px;
}

#prevMonthCalendarButton {
    background: url("mocks/angle-left.png") no-repeat center;
    background-size: 20px;
}

#nextMonthCalendarButton {
    background: url("mocks/angle-right.png") no-repeat center;
    background-size: 20px;
}

.todaysDate {
    background-color: lightblue;
}

.holiday {
    color: red;
    font-weight: bold;
}

.afterEndMonth {
    color: grey;
}

.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #AD1457;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

.step.active {
    opacity: 1;
}

.step.finish {
    background-color: #C51162;
}

.summaryHeading {
    font-weight: bold;
    color: #37474F;
    text-align: center;
}

.summaryRow {
    font-weight: bold;
    color: #37474F;
}

td {
    border-bottom: 1px solid #263238;
    padding: 10px 15px;
}

table {
    border-spacing: 0;
    text-align: left;
    margin: 20px;
    padding: 20px;
    background-color: #FAFAFA;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 6px, rgba(0, 0, 0, 0.12) 0 1px 4px;
    border-radius: 2px;
}

.tableForCalendar {
    display: none;
}

.squareForDayInCalendarTable {
    cursor: pointer;
}